@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@700&display=swap');
#root {
  font-family: 'Noto Serif Thai', serif;
  /* max-width: 80rem;
  margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
}



